<include file="Public/header.html" />
	<div>
		<h1 style="padding:5px; background-color:#ccc; font-size:21px"><?php echo $_GET['stock_code']; ?></h1>
   		<div id="map" style="height:500px;"></div>
	</div>

	<script src="/js/anycharthtml5.js" type="text/javascript"></script>
    <script type="text/javascript" language="javascript"> 
		//show('map','./d.js');
		show('map', '/index.php?m=Stock&c=PriceDistribute&a=data&stock_code=<?php echo $_GET['stock_code']; ?>');
		function show($id,$path)
		{
			AnyChart.renderingType = anychart.RenderingType.SVG_PREFERRED;
			var chartSample = new AnyChart();
			chartSample.width = '100%';
			chartSample.height = '500px';
			//chartSample._enableMouseEvents=true;
			//chartSample.wMode='transparent';
			
			//chartSample.setJSONFile($path);
			chartSample.setXMLFile($path);
			chartSample.write($id);
		}

    </script> 
