<style>
th, td {
	padding: 3px 0.5em;
	border: 1px solid #ccc;
}
</style>
<table>
	<tr>
		<th>ID</th>
		<th>代码</th>
		<th>交易日期</th>
		<th>交易类型</th>
		<th>数量</th>
		<th>价格</th>
		<th>操作</th>
	</tr>
	<?php foreach ($trade_history_list as $trade_history) { ?>
	<tr>
		<td><?php echo $trade_history->id; ?></td>
		<td><?php echo $trade_history->stock_id; ?></td>
		<td><?php echo $trade_history->trade_day; ?></td>
		<td><?php echo $trade_history->trade_type; ?></td>
		<td><?php echo $trade_history->num; ?></td>
		<td><?php echo $trade_history->price; ?></td>
		<td><a href="/index.php?m=Stock&c=TradeHistory&a=edit&id=<?php echo $trade_history->id; ?>">编辑</a></td>
	</tr>
	<?php } ?>
</table>
