* {
	margin:0;
	padding:0;
}
table {
	width: 100%;
	border-collapse:collapse;
}
th {
	background: #E0FFFF;
}
th, td {
	padding: 0.3em 0.5em;
	text-align: center;
	border: 1px solid #ccc;
}
fieldset {
	margin: 1em;
	padding: 1em;
	color:#333; 
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
fieldset legend {
	font-weight: bold;
}
fieldset div {
	margin: 0 0 5px 0;
}
form label {
	width: 100px;
	text-align: right;
	display: inline-block;
}
